/* 親要素に一時的なスタイルを追加 */
body {
    margin: 0;
    padding: 0;
    width: 100%; /* 親要素が画面全体に広がる */
}
#messages{
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    max-height: 300px;
    overflow-y: scroll;
    width: 100%;
    
}
input[type="text"]{
    width: 80%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 5px;
}

button{
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #0056b3;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}